<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-widdth, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />

    {% if title %}
    <title>{{ titlle }} | Reels</title>
    {% else %}
    <title>Reels</title>
    {% endif %}
</head>

<body>

    {% block content %}{% endblock content %}

</body>

</html>