<h2>FAQs</h2>

<h3>Why does this site take so long to load?</h3>
<p>The site is hosted on Heroku's free tier. The free web dyn goes to <em>sleep</em> after a 30-minute period of
    inactivity. If the page is loading slowly, it's because the dyno was sleeping and is taking a couple of minutes to
    "wake up."</p>

<h3>What's with the file naming scheme?</h3>
<p>In 2020, I reorganized Coral Gables Art Cinema's entire digital filing system on Google Drive. The file naming
    convention is meant to make it easy to identify the contents of a file just from its name and also make it easy to
    search. If you name a <em>Seven Smurai</em> still <em>ss-01</em>, it will not show up in search results if you
    type "seven samurai."</p>

<h3>Where can I send feedback, suggestions, or requests?</h3>
<p>Shoot me an email at <a href="mailto:jachavez6@gmail.com">jachavez6@gmail.com</a>.</p>