<h2>FAQs</h2>

<h3>Why does this site take so long to load?</h3>
<p>The site is hosted on Render's free tier. The free instance spins down after 15 minutes of inactivity. When a
    request is made to the page while the instance is "asleep," it takes a few seconds for Render to spin it up again so
    it can process the request.
</p>

<h3>What's with the file naming scheme?</h3>
<p>In 2020, I reorganized Coral Gables Art Cinema's entire digital filing system on Google Drive. The file naming
    convention was born from that and is meant to make it easier to identify the contents of a file from its name
    alone, which also makes it easier to search for. For example, if you name a <em>Seven Samurai</em> still
    <em>ss-01</em>, it will not show up if you search for just "seven samurai."
</p>

<h3>Where can I send feedback or requests?</h3>
<p>Shoot me an email at <a href="mailto:jachavez6@gmail.com">jachavez6@gmail.com</a>.</p>