{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

<h1>Welcome to Reels!</h1>

<p>Select an option below.</p>

<h2>Spreadchimp</h2>
<p>Upload a spreadsheet from Agile so the customer data can be reformatted as distinct CSV files (one per film) for easy
    upload to MailChimp.</p>

<h2>Rename Photos</h2>
<p>Upload a group of photos to quickly rename them all.</p>

<a href="{{ url_for('rename.upload_photos') }}">Rename photos</a>

{% endblock content %}