{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

<h1>Welcome to Reels!</h1>

<p>Select an option below.</p>

<h2>Spreadchimp</h2>
<p>Upload a spreadsheet from Agile so the customer data can be reformatted as distinct CSV files (one per film) for easy
    upload to MailChimp.</p>
<p><a href="{{ url_for('spreadchimp.upload_spreadsheet') }}">Upload spreadsheet</a>
</p>

<h2>Rename Photos</h2>
<p>Upload a group of photos to quickly rename them all.</p>

<a href="{{ url_for('rename.upload_photos') }}">Rename photos</a>

<h2>Delete Files</h2>
<form method="POST">
    <p><input type="submit" value="Delete"></p>
</form>

{% endblock content %}