{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<h1>Upload Photos</h1>

<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        <p><input type="file" name="file" multiple accept="image/*" class="form-control-file"></p>
        <p><input type="submit" value="Upload" class="btn btn-primary"></p>
    </div>
</form>

<p>Drag and drop multiple photos over the 'Choose files' button to upload all at once.</p>

<hr>
<p><a href="{{ url_for('main.index') }}">Go back</a></p>
{% endblock content %}