{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}

<div class="container">
    <h1 class="is-size-1">Download Files</h1>

    {% if files %}
    <div class="content">
        <ul>
            {% for file in files %}
            <li>{{ file }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no files to download.</p>
        {% endif %}
    </div>

    <form method="POST">
        <p><input type="submit" value="Download files" class="button is-primary"></p>
    </form>

    <div class="content">
        <hr>
        <p><a href="{{ url_for('main.index') }}">Go back</a></p>
    </div>
</div>
{% endblock content %}